h1{
    font-family: 'Khand', sans-serif;
    font-size: 42px;
    font-weight: 900;
    color: white;
    margin-top: 10px;
    text-shadow: 1px 1px black;
}
h2{
    font-family: 'Khand', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-top: 8px;
    text-shadow: 1px 1px black;
}
p, a{
    font-family: 'Khand', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
    margin: 0 auto;
}
.social {
    position: fixed;
    top: 30px;
    right: 30px;
    color: white;
    z-index: 1;
}
.social img{
    width: 30px;
    padding: 10px;
}
.section {
    text-align:center;
    font-size: 3em;
}
.wrapper {
    width: 540px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.25);
    padding: 40px;
    border-radius: 10px;
}
.section.portada{
    background-image: url(../img/bg1.jpg);
}
.section.sinopsis{
    background-image: url(../img/bg2.jpg);
}
.section.links{
    background-image: url(../img/bg3.jpg);
}
img.logo{
    width: 720px;
}
img.arrow {
    width: 28px;
    position: absolute;
    animation: bounce 1s ease-in-out infinite;
}
.listen {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.listen a {
    text-align: center;
}
.listen img {
    width: 80px;
    padding: 10px 40px;
}
.revue{
    width: 180px;
}
.medium{
    width: 240px;
}
@keyframes bounce{
  0%{
    bottom: 150px
  }
  50%{
    bottom: 130px
  }
  100% {
    bottom: 150px
  }
}
@media screen and (max-width: 540px){
    h2 {
        font-size: 26px;
    }
    p, a {
        font-size: 18px;
    }
    .section {
        background-size: cover;
        background-position-x: 50%;
    }
    .wrapper {
        width: 90%;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.35);
    }
    img.logo {
        width: 340px;
    }
    .social {
        top: 20px;
        right: 20px;
    }
    .social img {
        width: 20px;
    }
    .listen {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .listen img{
        width: 60px;
        padding: 20px;
    }
    .revue{
        width: 120px;
    }
    @keyframes bounce{
        0%{
          bottom: 40px
        }
        50%{
          bottom: 30px
        }
        100% {
          bottom: 40px
        }
      }
}